ThreadNuclyo/Connected Services/ReadingServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetHouseDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_houseID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_apiKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHouseDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModbusDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_houseID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_apiKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModbusDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetModbusDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteDLMXDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_societyIS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_houseID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_meterID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ipAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_port" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_serialNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_reading" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_importExport" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteDLMXDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteErrorLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_societyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_houseID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_meterID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ipAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_port" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_errorCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_errorMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_dateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteErrorLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteSuccessLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogFilePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_societyIS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_houseID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_meterID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ipAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_port" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_serialNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_reading" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_importExport" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteSuccessLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteExceptionLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogFilePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteExceptionLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestMeterreading">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_societyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ipAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Iid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestMeterreadingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLatestMeterreadingResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteSolarDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_societyIS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_houseID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_meterID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ipAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_port" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_serialNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_reading" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_importExport" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteSolarDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteModbusErrorLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_societyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_meterID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ipAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_port" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_errorCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_errorMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_dateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteModbusErrorLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDMLSDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_houseID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_apiKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDMLSDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDMLSDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>