ThreadNuclyo/Connected Services/ReadingServiceReference/UberService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UberService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IUberService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://api.nuclyo.com/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://api.nuclyo.com/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://api.nuclyo.com/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUberService_GetHouseDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHouseDetails" />
  </wsdl:message>
  <wsdl:message name="IUberService_GetHouseDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHouseDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IUberService_GetModbusDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModbusDetails" />
  </wsdl:message>
  <wsdl:message name="IUberService_GetModbusDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModbusDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IUberService_WriteDLMXDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteDLMXDetails" />
  </wsdl:message>
  <wsdl:message name="IUberService_WriteDLMXDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteDLMXDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IUberService_WriteErrorLog_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteErrorLog" />
  </wsdl:message>
  <wsdl:message name="IUberService_WriteErrorLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteErrorLogResponse" />
  </wsdl:message>
  <wsdl:message name="IUberService_WriteSuccessLog_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteSuccessLog" />
  </wsdl:message>
  <wsdl:message name="IUberService_WriteSuccessLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteSuccessLogResponse" />
  </wsdl:message>
  <wsdl:message name="IUberService_WriteExceptionLog_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteExceptionLog" />
  </wsdl:message>
  <wsdl:message name="IUberService_WriteExceptionLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteExceptionLogResponse" />
  </wsdl:message>
  <wsdl:message name="IUberService_GetLatestMeterreading_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestMeterreading" />
  </wsdl:message>
  <wsdl:message name="IUberService_GetLatestMeterreading_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestMeterreadingResponse" />
  </wsdl:message>
  <wsdl:message name="IUberService_WriteSolarDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteSolarDetails" />
  </wsdl:message>
  <wsdl:message name="IUberService_WriteSolarDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteSolarDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IUberService">
    <wsdl:operation name="GetHouseDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IUberService/GetHouseDetails" message="tns:IUberService_GetHouseDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUberService/GetHouseDetailsResponse" message="tns:IUberService_GetHouseDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModbusDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IUberService/GetModbusDetails" message="tns:IUberService_GetModbusDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUberService/GetModbusDetailsResponse" message="tns:IUberService_GetModbusDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteDLMXDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IUberService/WriteDLMXDetails" message="tns:IUberService_WriteDLMXDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUberService/WriteDLMXDetailsResponse" message="tns:IUberService_WriteDLMXDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteErrorLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IUberService/WriteErrorLog" message="tns:IUberService_WriteErrorLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUberService/WriteErrorLogResponse" message="tns:IUberService_WriteErrorLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteSuccessLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IUberService/WriteSuccessLog" message="tns:IUberService_WriteSuccessLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUberService/WriteSuccessLogResponse" message="tns:IUberService_WriteSuccessLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteExceptionLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IUberService/WriteExceptionLog" message="tns:IUberService_WriteExceptionLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUberService/WriteExceptionLogResponse" message="tns:IUberService_WriteExceptionLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestMeterreading">
      <wsdl:input wsaw:Action="http://tempuri.org/IUberService/GetLatestMeterreading" message="tns:IUberService_GetLatestMeterreading_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUberService/GetLatestMeterreadingResponse" message="tns:IUberService_GetLatestMeterreading_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteSolarDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IUberService/WriteSolarDetails" message="tns:IUberService_WriteSolarDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUberService/WriteSolarDetailsResponse" message="tns:IUberService_WriteSolarDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUberService" type="tns:IUberService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IUberService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHouseDetails">
      <soap:operation soapAction="http://tempuri.org/IUberService/GetHouseDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModbusDetails">
      <soap:operation soapAction="http://tempuri.org/IUberService/GetModbusDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteDLMXDetails">
      <soap:operation soapAction="http://tempuri.org/IUberService/WriteDLMXDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteErrorLog">
      <soap:operation soapAction="http://tempuri.org/IUberService/WriteErrorLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteSuccessLog">
      <soap:operation soapAction="http://tempuri.org/IUberService/WriteSuccessLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteExceptionLog">
      <soap:operation soapAction="http://tempuri.org/IUberService/WriteExceptionLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestMeterreading">
      <soap:operation soapAction="http://tempuri.org/IUberService/GetLatestMeterreading" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteSolarDetails">
      <soap:operation soapAction="http://tempuri.org/IUberService/WriteSolarDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UberService">
    <wsdl:port name="BasicHttpBinding_IUberService" binding="tns:BasicHttpBinding_IUberService">
      <soap:address location="https://api.nuclyo.com/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>